.container {
    background-image: url('./landingPage.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;

    list-style-type: none;

    text-align: right;
    padding: 20px;

    display: inline-flex;
    justify-content: space-evenly;


    width: 100%;
}