.container {
    border: 1px solid white;
    width: 100px;
}

.buyable {
    background-color: rgba(127, 255, 212, 0.143);
}

.notBuyable {
    background-color: rgba(255, 127, 153, 0.143);
}
.notBuyable button {
    opacity: 0.3;
    pointer-events: none;
}