.container {
    background-color: #181820;
    border-top: 1px solid rgba(128, 128, 128, 0.322);
    height: 38vh;

    padding: 20px;
}

.heart {
    color: red;
}

.gaugeContainer {
    border-radius: 4px;
    background-color: rgb(53, 53, 53);
    margin: 15px auto;
}
.filledGauge {
    height: 29px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 7px;
    border-bottom:2px solid rgb(168, 105, 105);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(255, 0, 55);

    transition: all 0.5s;
}

.spaceBarAdviser {
    transform: rotate(90deg);
    color: red;
}